.navbar {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
}
.navbar a {
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.6;
}
.navbar input {
  width: 400px;
  display: block;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
}
.navbar a:hover {
  opacity: 1;
}
.navbar a.active {
  color: white;
}

.navbarcolor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-index: center;
  gap: 2px;
  padding: 10px 0;
  width: 100%;
  background-color: "#301934";
}

.navbarcolordark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-index: center;
  gap: 2px;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 14px;
  padding: 0px 0 0;
}
.cards p {
  margin: 0;
  padding: 0 0 10px;
  font-size: 12px;
  font-weight: 50;
}
.cards p a {
  padding: 0 0 10px;
  font-size: 12px;
  font-weight: 50;
}
.cards p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 400px) {
  .navbar a {
  }
  .navbar input {
    width: 250px;
  }
}
