.stickycontent {
  position: sticky;
  top: 0;
  height: 200px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-index: start;
  gap: 20px;
  background-color: #301934;
  padding: 3rem 20px;
}
.stickycontent h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #fdfdfe;
  text-shadow: 0px 0px 2px #b393d3, 0px 0px 3px #b393d3, 0px 0px 3px #b393d3,
    0px 0px 10px #b393d3;
}

.inputbox {
  display: flex;
  gap: 10px;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 20px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}
.inputbox input {
  width: 96%;
  height: 98%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #301934;
  background-color: white;
  border: none;
}
.inputboxclear {
  opacity: 0.8;
}

.stickycontentimage {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.stickycontenttitle {
  margin: 0;
}

.placeholdercontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  min-height: 1000px;
  padding-bottom: 30px;
}

.placeholdertitle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 20px;
}

.placeholdercard {
  color: #c0bac2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 15px 5px;
  font-size: 0.7em;
  border: 1px solid rgba(234, 232, 234, 0.2);
  border-radius: 8px;
}
.placeholdercard:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgba(234, 232, 234, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(234, 232, 234, 0.5),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(234, 232, 234, 0.5),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.placeholdercard h2 {
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.placeholdercard h3 {
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.placeholdercard p {
  line-height: 14px;
  font-weight: 200;
  margin: 0;
  padding: 1px 0 10px;
}

@media (max-width: 600px) {
  .stickycontent {
    width: 100%;
  }
  .stickycontent h1 {
  }
  .inputbox {
    width: 90%;
  }

  .stickycontent {
    width: 100%;
  }

  .placeholdercard {
    width: 90%;
  }
}
