.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 20vh;
  width: 900px;
  margin: 0 auto;
}
.header h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}
.header input {
  width: 500px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #301934;
  background-color: white;
  border-radius: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 70vh;
  width: 900px;
  margin: 0 auto;
  font-size: 0.7em;
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  font-size: 0.7em;
  font-weight: 400;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.footer {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .header {
  }
  .header h1 {
  }
  .header input {
  }
}

.effect6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before,
.effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.effect6:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
